.Button{
    background-color: black;
    border: 3px solid #ffe919;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    color:  #ffe919;
    cursor: pointer;
    font-family: 'MyApp';
    letter-spacing:  3px;
    margin: 0 auto;
    padding: 15px;
    transition: .2s ease;
    width: 125px;
}

.Button:hover{
    background-color: #ffe919;
    border-color: black;
    box-shadow: 0 2px 3px #444;
    color: black;
}
.Button:active{
    transform: translateY(3px);
}