@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.Planets {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 0));
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}